LogicApp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PublishContentName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "PublishContentLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "PublishInsightsName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "PublishInsightsLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "PurgePublishName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "PurgePublishLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azurequeues_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azurequeues"
    },
    "azurequeues_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Azure Storage US West"
    },
    "azurequeues_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": "skystorageuswest"
    },
    "twilio_1_Connection_Name": {
      "type": "string",
      "defaultValue": "twilio"
    },
    "twilio_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Twilio Live"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('PublishContentName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('PublishContentLocation')]",
      "apiVersion": "2016-06-01",
      "tags": {
        "displayName": "PublishContent"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "PublishContentPut": {
              "type": "Http",
              "inputs": {
                "method": "put",
                "queries": {
                  "poisonQueue": false
                },
                "uri": "https://skyweb-uswest.azurewebsites.net/publish/content"
              },
              "runAfter": {},
              "metadata": {
                "apiDefinitionUrl": "https://skyweb-uswest.azurewebsites.net/swagger/v1/swagger.json",
                "swaggerSource": "custom"
              }
            },
            "Condition": {
              "type": "If",
              "expression": "@and(not(empty(body('PublishContentPut')?['mobileNumber'])),not(empty(body('PublishContentPut')?['statusMessage'])))",
              "actions": {
                "Send_Text_Message_(SMS)": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['twilio']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/Messages.json",
                    "body": {
                      "from": "+13109058223",
                      "to": "@body('PublishContentPut')?['mobileNumber']",
                      "body": "@body('PublishContentPut')?['statusMessage']"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "PublishContentPut": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_specified_number_of_messages_are_in_a_given_queue": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('publish-content')}/count_trigger",
                "queries": {
                  "threshold": 1
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('PublishContentLocation'), '/managedApis/', 'azurequeues')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]",
                "connectionName": "[parameters('azurequeues_1_Connection_Name')]"
              },
              "twilio": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('PublishContentLocation'), '/managedApis/', 'twilio')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('twilio_1_Connection_Name'))]",
                "connectionName": "[parameters('twilio_1_Connection_Name')]"
              }
            }
          }
        }
      }
    },
    {
      "name": "[parameters('PublishInsightsName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('PublishInsightsLocation')]",
      "apiVersion": "2016-06-01",
      "tags": {
        "displayName": "PublishInsights"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "PublishInsightsPut": {
              "type": "Http",
              "inputs": {
                "method": "put",
                "queries": {
                  "poisonQueue": false
                },
                "uri": "https://skyweb-uswest.azurewebsites.net/publish/insights"
              },
              "runAfter": {},
              "metadata": {
                "apiDefinitionUrl": "https://skyweb-uswest.azurewebsites.net/swagger/v1/swagger.json",
                "swaggerSource": "custom"
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_specified_number_of_messages_are_in_a_given_queue_2": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('publish-insights')}/count_trigger",
                "queries": {
                  "threshold": 1
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('PublishInsightsLocation'), '/managedApis/', 'azurequeues')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]",
                "connectionName": "[parameters('azurequeues_1_Connection_Name')]"
              }
            }
          }
        }
      }
    },
    {
      "name": "[parameters('PurgePublishName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('PurgePublishLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [],
      "tags": {
        "displayName": "PurgePublish"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "PublishPurgeDelete": {
              "type": "Http",
              "inputs": {
                "method": "delete",
                "uri": "https://skyweb-uswest.azurewebsites.net/publish/purge"
              },
              "runAfter": {},
              "metadata": {
                "apiDefinitionUrl": "https://skyweb-uswest.azurewebsites.net/swagger/v1/swagger.json",
                "swaggerSource": "custom"
              }
            }
          },
          "parameters": {},
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 24,
                "timeZone": "Pacific Standard Time",
                "startTime": "2017-09-15T00:00:00Z"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}